@using Nop.Core.Domain.Seo
@using Nop.Services.Cms;
@using Nop.Services.Localization
@using Nop.Core
@using Nop.Web.Components;
@inject SeoSettings seoSettings
@inject IWidgetPluginManager widgetPluginManager
@inject ILocalizationService localizationService
@inject IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    var homepageTitle = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageTitle);

    //title
    if (!string.IsNullOrEmpty(homepageTitle))
    {
        NopHtml.AddTitleParts(homepageTitle);
    }

    var homepageDescription = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageDescription);

    //meta
    if (!string.IsNullOrEmpty(homepageDescription))
    {
        NopHtml.AddMetaDescriptionParts(homepageDescription);
    }

    //page class
    NopHtml.AppendPageCssClassParts("html-home-page");
    bool isJcarouselPluginInstall = widgetPluginManager.LoadPluginBySystemNameAsync("NopStation.OCarousels") != null;
    bool isHomepageNewsEnable = widgetPluginManager.LoadPluginBySystemNameAsync("NopStation.BlogNews") != null;
}

<div class="page home-page">
    <div class="page-body">

        <div class="home-page-top-slider">
            @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageTop })
        </div>

        @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "HomepageText" })
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })

        <div class="home-page-categories">
            @await Component.InvokeAsync(typeof(HomepageCategoriesViewComponent))
        </div>

        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })

        <div class="custom-container">
            <div class="custom-container-2tab homepage-add-2column">
                <div class="custom-container-left">
                    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = "beautyShop_add_left" })
                </div>

                <div class="custom-container-right">
                    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = "beautyShop_add_right" })
                </div>
            </div>
        </div>


        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync(typeof(HomepageBestSellersViewComponent))
        <div class="custom-container">
            @await Component.InvokeAsync(typeof(HomepageProductsViewComponent))
        </div>

        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
       @* @await Component.InvokeAsync("HomepageNews")*@
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @*@await Component.InvokeAsync(typeof(HomepagePollsViewComponent))*@
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>
