       .beautyShop-primary-color-bg {
        background-color:  !important;
        }

        .beautyShop-primary-color-text {
        color:  !important;
        }

        .beautyShop-primary-color-border {
        border-color:  !important;
        }

        .beautyShop-primary-color-hover:hover {
        color:  !important;
        }

        .beautyShop-primary-color-bg-hover:hover {
        background-color:  !important;
        }

        .beautyShop-header-color {
        background-color: #d7c911 !important;
        }

        .beautyShop-secondery-color-bg {
        background-color:  !important;
        }

        .beautyShop-secondery-color-text {
        color:  !important;
        }

        .beautyShop-secondery-color-border {
        border-color:  !important;
        }

        .beautyShop-paragraph-text {
        font-size: 0px !important;
        }

        .beautyShop-breadcrumb-title {
        font-size: 0px !important;
        }

        .beautyShop-breadcrumb-text {
        font-size: 0px !important;
        }

        .beautyShop-big-title {
        font-size: 0px !important;
        }

        .beautyShop-medium-title {
        font-size: 0px !important;
        }

        .beautyShop-small-title {
        font-size: 0px !important;
        }

        p{
        font-size: 0px !important;
        }

        .breadcrumb-current-item h4{
        font-size: 0px !important;
        }

        .breadcrumb li *{
        font-size: 0px !important;
        }

        .fieldset .title, .section .title {
        font-size: 0px !important;
        }