@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/ElMessiri-Medium.woff') format('woff'), 
      url('../fonts/ElMessiri-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/ElMessiri-SemiBold.woff') format('woff'),
      url('../fonts/ElMessiri-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/ElMessiri-Bold.woff') format('woff'), 
      url('../fonts/ElMessiri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'El Messiri';
  src: url('../fonts/ElMessiri-Regular.woff') format('woff'),
      url('../fonts/ElMessiri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?gjoe2k');
  src: url('../fonts/icomoon.eot?gjoe2k#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.ttf?gjoe2k') format('truetype'), 
       url('../fonts/icomoon.woff?gjoe2k') format('woff'), 
       url('../fonts/icomoon.svg?gjoe2k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-icon:before {
  content: "\e900";
}

.icon-clock:before {
  content: "\e901";
}

.icon-close:before {
  content: "\e902";
}

.icon-compare:before {
  content: "\e903";
}

.icon-down-arrow:before {
  content: "\e904";
  color: #525661;
}

.icon-email:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-free-delivery:before {
  content: "\e907";
}

.icon-grid-view:before {
  content: "\e908";
}

.icon-instagram:before {
  content: "\e909";
}

.icon-left-arrow:before {
  content: "\e90a";
}

.icon-list-view:before {
  content: "\e90b";
}

.icon-location:before {
  content: "\e90c";
}

.icon-minus:before {
  content: "\e90d";
}

.icon-navigation:before {
  content: "\e90e";
}

.icon-phone-call:before {
  content: "\e90f";
}

.icon-plus:before {
  content: "\e910";
}

.icon-return:before {
  content: "\e911";
}

.icon-ribbon:before {
  content: "\e912";
}

.icon-right-arrow:before {
  content: "\e913";
}

.icon-right-sign:before {
  content: "\e914";
}

.icon-search:before {
  content: "\e915";
}

.icon-support:before {
  content: "\e916";
}

.icon-twitter:before {
  content: "\e917";
}

.icon-up-arrow:before {
  content: "\e918";
}

.icon-user:before {
  content: "\e919";
}

.icon-wishlist:before {
  content: "\e91a";
}

.icon-world-wide-shipping:before {
  content: "\e91b";
}

.icon-youtube:before {
  content: "\e91c";
}

.icon-zoom:before {
  content: "\e91d";
}

.icon-Billing-address:before {
  content: "\e9dd";
}

.icon-Confirm-order:before {
  content: "\e91e";
}

.icon-Payment-method:before {
  content: "\e9ff";
}

.icon-Shipping-address:before {
  content: "\e9f0";
}

.icon-Shipping-method:before {
  content: "\e9d9";
}

